body{
  text-align: center;
  margin-top:30px;
}

/* .datagroup:hover circle{
  opacity: 1;
  fill: green;
  transform: scale(2);
  transition: transform 1s;
}
.datagroup circle:hover {
  opacity: 1;
}

.datagroup text{
  cursor: default;
} */

.description{
  /* text-anchor: middle; */
  font-family: sans-sans-serif;
  fill: red;

}
