body{
  width, height: 100%;
  margin: 0;
}
#viz{
  background-color: rgb(252,250,242);
  position: absolute;
  z-index: -1
}
#map-container{
  position: absolute;

}
#mapviz{
  background-color: rgb(252,250,242);
  position: absolute;
  /* right: 0px; */
  opacity: 0;
  pointer-events: none
}

#hidingMap{
  display: none;
  background-color: rgb(252,250,242);
  z-index: 1;
  height: 2000px;

}
.stickyMap {
  height: 100vh;
  width: 50%;
  top: 0;
  z-index: 1;
  position: sticky;
  pointer-events: none;

  /* ps you can even make this div a flexbox to position elements inside it */
  display: relative;
  /* justify-content: center;
  align-items: center; */
}

.scrollingContent div{
  margin-left: 67vw;
  /* padding: 10px; */
  /* background-color: lightyellow; */
  /* text-align: right; */
  width: 33vw;

  /* outline: 5px dashed lightpink; */
  margin-bottom: 200px;
  display: relative;
  z-index: 100;
  font-size: 30px;
  font-family: 'Pangolin'
}


.title{
  text-anchor: middle;

}
